@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/Orbitron-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

canvas {
  cursor: default;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252425;
}

#uiContainer:hover {
  ::-webkit-scrollbar-thumb {
    background: #252425;
  }
}

#uiContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 2;
  left: 25px;
  top: 10%;
  width: 25%;
  height: 80%;
  background: rgb(37, 36, 37);
  background: linear-gradient(
    180deg,
    rgba(37, 36, 37, 1) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  padding: 20px;
  color: #eeeeee;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
